<app-nav-bar></app-nav-bar>

<h1 class="textTitle">Marvel Series</h1>

<div class="loading" *ngIf="loading">
  <img src="assets/images/marvel-intro.gif" alt="loading">
</div>

<form class="search-container">
  <input type="text" id="search-bar" [(ngModel)]="searchText" name="search" placeholder="Buscar un cómic">
</form>

<div class="flex-container section" *ngIf="results && !loading">
  <div class="card-picture" *ngFor="let comic of results | searchPipe: searchText" (click)="AbrirPop(comic.id)">
    <img src="{{comic.thumbnail.path + '.' + comic.thumbnail.extension}}" alt="foto">
    <div class="card-description" (mouseover)="cargar(comic.id)">
      <p class="t1">{{comic.title}}</p>
    </div>
  </div>
</div>
